<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/vue.js"></script>
</head>
<body>
<div class="container" id="user" v-cloak>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in users">
                <th>{{item.id}}</th>
                <th>{{item.name}}</th>
                <th>{{item.email}}</th>
            </tr>
        </tbody>
    </table>
    
</div>

<script>
    $(function() {
        window.vm = vm;
    });
    
    var vm = new Vue({
        el : "#user",
        data : {
            users : [],
            test : [
                {id : '123',name:"123",email:"123"},
                {id : '456',name:"456",email:"456"},
                {id : '789',name:"789",email:"789"}
            ]
        },
        methods : {
            init : function($this) {
                $.ajax({
                    type : 'GET',
                    dataType : 'json',
                    contentType : 'application/json',
                    url : '/api/users',
                    data : {}
                }).done(function(r){
                    console.log(r.users);
                    $this.users = r.users;
                }).fail(function(jqXHR,textStatus){
                    alert('Error: ' + jqXHR.status);
                });
            }
        },
        created : function() {
            this.init(this);
        }
    });
</script>
</body>

</html>